# day4
 today i'm learning these following topics

In [5]:
#print formating
#we can use a .format() method to add a object to an aready existed string
"I'm Insurting a string with a curly braces{}".format('to test a print formatting')

"I'm Insurting a string with a curly bracesto test a print formatting"

# string formatting
string formatting let's us to merge a things without chaining them together,for example

In [12]:
player = 'Naveen'
points = 47

In [13]:
f'last night,player{player} scored points{points}'

'last night,playerNaveen scored points47'

In [14]:
f'player{player} made a world record of scoring a {points}points in badminton'

'playerNaveen made a world record of scoring a 47points in badminton'

# different types of string formatting
their are a 3different methods to format a string such as

• old method involved placeholders using a modulo % character

• improved technique called .format() method

• newest method introduced which uses formatted strings, called f-strings.

# Modulo character
we can use%s modulo character to inject a strings in print statements.the modulo reffered as a string formatting operator

In [18]:
print("i'm gonna inject %s here."%'something')

i'm gonna inject something here.

even we can inject a various text here...

In [20]:
print("i can inject  %s text here, and %s even here."%('some','more'))

i can inject  some text here, and more even here.

and morover we can assign a variable to it

In [21]:
x,y= ('naveen','Dhoni')
print("%s is a di heart fan of %s." %(x,y))

naveen is a di heart fan of Dhoni.

# format conversion methods
 we must know here that these two operators called %s and %r converts a python object  into a string.using two seperate methods called: str() and repr().
 While repr() %r is deliver a "string representation of the object including quotation and any escape characters"

In [28]:
print("i'm %s and struggling with working hard to compete with the %s world."%('naveen','competative'))
print("i'm %r and struggling with working hard to compete with the %r world."%('naveen','competative'))

i'm naveen and struggling with working hard to compete with the competative world.
i'm 'naveen' and struggling with working hard to compete with the 'competative' world.

In [30]:
 # as another example \t is injects a spce bar in astring
print("i'm %s and struggling with \t working hard to compete with the %s world."%('\t naveen','competative'))
print("i'm %r and struggling with \t working hard to compete with the %r world."%('\t naveen','compet \t ative'))

i'm 	 naveen and struggling with 	 working hard to compete with the competative world.
i'm '\t naveen' and struggling with 	 working hard to compete with the 'compet \t ative' world.

%s operator converts to the string what ever it sees,including integer and float. But %d converts 1st into an ineger from float then it will converted to a string

In [35]:
print(" HEllo world i got a percentage of %s in exams"%86.678)
print(" Hello world i got a percentage of %d in exams with out rounfing offf"%99.99999)

 HEllo world i got a percentage of 86.678 in exams
 Hello world i got a percentage of 99 in exams with out rounfing offf

# padding and precision of floating point numbers
floating point numbers uses the format %5.2f .5% is would be the minimum number of characters included in it and 2f is nothing but its tells the python that how many digits after the decimal points must be taken or print . If the floating number present in it doesnt contains the yf then it world replicate the padding with space orelse zero

In [36]:
#Let's see with an example
print("This is a floating point number %5.2f"%767.2345)

This is a floating point number 767.23

In [39]:
print("This is a floating point number %2.0f"%767.2345)

This is a floating point number 767

In [40]:
print("This is a floating point number %0.9f"%123.678)

This is a floating point number 123.678000000

# multiple formatting
means formatting a text for a multiple times.That's mean nothing prohibits using conversion tool for multiple time.

In [45]:
print("i sleep at %s over thinking of my future %5.10f success or failure %r "%('night',99.999999,'journey'))

i sleep at night over thinking of my future 99.9999990000 success or failure 'journey'

# formatting a string using .FORMAT
the better way of formatting an object in to a string is by the string. format() IS AS FOLLOWS
'this is a string{}and also string{}'.format('something1','something2')

In [47]:
print("Hello their I'm {}".format('Naveen'))

Hello their I'm Naveen

# .FORMAT HAS SEVERAL ADVANTAGES AGAINST A %SPLACEHOLDER OPERATOR
They are

• IN .format the objects can be called by a index number

In [49]:
print("Hello their I'm {0} and {1} years old studying in {2}".format('Naveen',18,'reva university'))

Hello their I'm Naveen and 18 years old studying in reva university

In [53]:
print("Hello {1} you all are a {0} and even I'm a {0}".format('banglorean','banglore') )

Hello banglore you all are a banglorean and even I'm a banglorean

•IN .format the objects can be assigned a variables

In [58]:
print("python is {m} {s} {d}".format(m='my',s='1st',d='programming language to learn'))

python is my 1st programming language to learn

•Inserted objects can be reused,avoiding duplication

In [62]:
print("i earn a %s and i spend a %s"%('penny','penny'))

#vs

print("i spend a {p} and i earn a {p}".format(p='penny'))

i earn a penny and i spend a penny
i spend a penny and i earn a penny